
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

*{
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container-top{
    display: flex;
   flex-direction: row;
    justify-content: space-between;
    background-color: #222222;
    padding: 0 40px 0 40px;
    color: #F3F3F3;
    font-weight: 400;
}



.l-lenguaje{
  display: flex;
  flex-direction: row;
}

.list{
    list-style: none;
    align-items: flex-end;
    display: flex;
}

.header-container-t{
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.list-link li{
  list-style: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 15px;
  display: inline-block;
  padding: 20px;
  
}

.logof{
    color: #3C2313;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.logob{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    align-self: center;
    padding: 0 20px;
}
.logo-d1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.logo-d2{
    color: #F0A83E;
    font-weight: 700;
    font-size: 20px;
    line-height:23px ;
}


.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
    height: 500px;
    background-repeat: no-repeat;
   background-size: cover;
   
    
    

}

  .text-banner { 
    text-align: center;
    font-style: normal;
    font-weight: 400;
    padding: 10px 0;
    margin-right: 12px;
    margin-left: 12px;
    font-size: 16px;
  }

.text-banner .p1{
    background: #ffffff;
    border-radius: 5px;
    font-size: 40px;
    padding: 10px;
    line-height: 35.16px;
    margin-top: 120px;
    font-weight: 400;
    font-style: normal;
    color: #3C2313;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-banner .p2{
    height: 19px;
    font-size: 19px;
    line-height: 18.75px;
    font-weight: 400;
    margin-top: 19px;
    color: #3C2313;
    font-style: normal;
    
  }

  .text-banner .p3 {
    height: 19px;
    font-size: 16px;
    line-height: 50.75px;
    font-weight: 400;
    margin-top: 19px;
    color: #FFFFFF;
    width: 141px;
    height: 49px;
    margin-left: 180px;
    background: #F0A83E;
    border-radius: 5px;

  }
  .productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
  }
  .juguetes{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    
  
}

  
  .juguetes >div{
    background-color: #FBFAF6;
    margin: 24px 11px 77px 23.78px;
    line-height: 44px;
   
  }
 
  
.datos {
    background-color: #3C2313;
    line-height: 33px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between; 
  

}

.location{
 display: flex;
 flex-direction: row;
 flex-direction: column;
 display: inline-block;
}
 
.datos .h2 .p{
  padding: 50px;
}


.logo2{
  padding: 230px 50px;
}

.f-pie {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 17px;
    line-height: 39px;
    text-align: center;
}

.pie-de-pagina{
    background-color: #222222;
    line-height: 11.72px; 
    height: 40px;
    

}
@media only screen and (min-width: 415px){
.juguetes {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;}}